@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #282828;
  color: #fff;
}
h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background: rgba(255, 255, 255, 0.2);
  /* border: 1.5px solid #888; */
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  height: auto;
  max-height: 10rem;
  transition: max-height 0.3s ease-out;
}

.faq.active {
  /* background-color: #eeeeee; */
  /* color: #282828; */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 6px rgba(200, 200, 200, 0.1),
    0 3px 6px rgba(200, 200, 200, 0.1);
  /* max-height: 10rem; */
}

.faq.active .faq-toggle {
  color: #282828;
  height: 30px;
  width: 30px;
}

.faq.active::before {
  content: "\f086";
  font-family: "Font Awesome 5 Free";
  font-size: 6rem;
  /* color: grey; */
  opacity: 0.2;
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

.faq-title {
  margin: 10px 0;
  width: 91%;
}

.faq-text {
  display: none;
  margin: 15px 0 10px;
}
.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  color: #eeeeee;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 15px;
}

.faq-toggle:focus {
  outline: none;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #f0f0f0;
  color: #282828;
}
